version: "3.8"

services:
  postgres:
    image: postgres:18-alpine
    container_name: tanstarter-postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: tanstarter
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
